.course-card{
background-color:rgb(207, 207, 238);
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 10px;
}

.course-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.course-card article{
align-content: center;
}
table{
background-color: #7e95a0;
border-radius: 20px;
border-color: white;

}
#site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(124, 124, 166);
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;

   
}

#main-nav ul {
    display: flex;
    list-style: none;
    gap: 20px;

   
}
div{
padding: 25px;
}
#hero{
    text-align: center;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
/*for number 1*/
.hero-title {
    font-size: 45px;
    font-weight: bold;
}

.section-title {
    font-size: 32px;
}

.card-title {
    font-size: 22px;
}
* {
  font-family: Garamond, serif;       
}
.hero-actions{
display: flex;
gap: 15px;
justify-content: center;
}

#hero{
background-color: rgb(164, 164, 205);
margin-left: -10px;
margin-right: -10px;
}
#courses{
    text-align: center;
}
#announcements{
        text-align: center;
     
}
#announcements ul{

         list-style: none;
}
#site-footer{
            text-align: center;
}
#site-footer ul{
      list-style: none;
}
